{% extends "./base.html" %} {% load crispy_forms_tags %} {% block content%}
<form action="" method="post" autocomplete="off">
  {% csrf_token %} {{form.sku|as_crispy_field}} {{form.name|as_crispy_field}}
  <div class="row">
    <div class="col-md-4">{{form.price|as_crispy_field}}</div>
    <div class="col-md-8">{{form.brand|as_crispy_field}}</div>
  </div>
  <div class="row">
    {% if perms.product_management.add_product%}
    <div class="col-md-8">
      <button type="submit" class="btn btn-success btn-block btn-lg">
        <i class="fas fa-database"></i> Submit
      </button>
    </div>
    {% endif %}
    <div class="col-md-4">
      <a href="{% url 'list' %}" class="btn btn-secondary btn-block btn-lg">
        <i class="fas fa-stream"></i> Back to list
      </a>
    </div>
  </div>
</form>
{% endblock%}
