{% extends "./base.html" %} {% block content %}
<table class="table table-borderless">
  <thead class="border-bottom font-weight-bold">
    <tr>
      <td>SKU</td>
      <td>Name</td>
      <td>Price</td>
      <td>Brand</td>
      {% if perms.product_management.add_product %}
      <td>
        <a href="{% url 'add' %}" class="btn btn-outline-success">
          <i class="fas fa-plus"></i> Add New
        </a>
      </td>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for product in product_list %}
    <tr>
      <td>{{product.sku}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.brand}}</td>
      <td>
        <a href="{% url 'edit' product.id %}" class="btn text-secondary px-0">
          <i class="far fa-edit fa-lg"></i>
        </a>
        {% if perms.product_management.delete_product%}
          <form
            action="{% url 'delete' product.id %}"
            method="post"
            class="d-inline"
          >
            {% csrf_token %}
            <button type="submit" class="btn">
              <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
            </button>
          </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
